/* @import url('https://fonts.cdnfonts.com/css/ninja-naruto'); */
body {
  font-family: 'Ninja Naruto', sans-serif;
  background-color: #f5a056;
}
h1 {
  text-align: center;
  color: #471245;
  text-shadow: 2px 2px #f07d0b;
  font-size: 4rem;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 480px;
  height: 200px;
  background-image: url('../naruto-logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.visualizations-container { 
  width: 1000px; 
}
img {
  width: 450px;
  height: auto;
}

.button {
  display: block;
  width: 115px;
  height: 50px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}

#back_home_button { 
  margin-top: 50px;
  background-color: rgb(68, 130, 239);
  color: white;
  cursor: pointer;
  width: 200px;
  height: 38px;
}


.heroes_img {
  width: 900px;
  height: auto;
}
.image-wrapper-div {
  padding: 5px;
  margin: 15px;
}

.intro-div {
  /* padding: 15px; */
  margin: 40px;
  /* border-left: 50px; */
  /* margin-left: 200px; */
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.wordclouds-div {
  /* padding: 15px; */
  margin: 40px;
  /* border-left: 50px; */
  /* margin-left: 200px; */
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.white-par {
    /* margin-top: 60px; */
  padding: 5px;
  margin: 15px;
  background-color: whitesmoke;
  width: 200px;
  height: 270px;
}

#intro-par {
  padding: 5px;
  margin: 50px;
  background-color: whitesmoke;
  width: 700px;
  height: 150px;
  /* height: 200px; */
}

.timeline-div {
  /* padding: 15px; */
  margin: 40px;
  /* border-left: 50px; */
  /* margin-left: 200px; */
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: space-around;
}
