<html>
    <head>
        <meta charset="utf-8">
        <title>Visualizations</title>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles/visualizations_styles.css') }}"/> 
    </head>
    <body>
        <div class="logo"></div>
        <h1>Static Visualizations of <br> Naruto 219 Series data</h1>
        <div class="intro-div">
           <p id="intro-par">
                5 Visualizations of Naruto 219 Series data.
                <br>
                <br>
                Folder for Visualizations Code –
                <a href= "https://github.com/lisja/KIK-LG211_HALM/tree/main/FINAL_PROJECT/visualizations">
                https://github.com/lisja/KIK-LG211_HALM/tree/main/FINAL_PROJECT/visualizations
                </a> 
                <br>
                <br>
                Every Visualization has its own .py file + there is a common 
                <br>
                <b>data_processing_file.py</b>.
            </p>
            <a class="button" id="back_home_button" href="{{ url_for('index') }}">Back to Home page </a>
        </div>
        
        <div class="visualizations-container">

            <div class="wordclouds-div" >
                <p class="white-par">Two Wordcloud visualizations. 
                    <br>
                    <br>
                    1. Wordcloud of all HEROES in Naruto series. 
                    <br>
                    <br>
                    2. Wordcloud of all OTHER words in series – MINUS heroes names and stopwords.
                </p>
                <div class="image-wrapper-div">
                    <img src="static/two_wordcloud_heroes.png" alt="cat">
                </div>                
                <div class="image-wrapper-div" color="blue">
                    <img src="static/one_wordcloud_non_heroes.png" alt="fire">
                </div>
            </div>

            <div class="timeline-div">
                <div class="image-wrapper-div">
                    <img class="heroes_img" src="static/89_heroes_in_219_series.png" alt="heroes_on_timeline">
                </div>   
                <p class="white-par">3. Scatterplot of all 89 heroes on timeline. 
                    <br>
                    <br>
                    In order of appearance in 219 series. 
                    <br>
                    <br>
                    Every appearance is a data point of color blue and opacity 0.7. 
                    Thus, more data points create bluer patches of data.
                </p> 
            </div>

            <div class="timeline-div">
                <!-- <p id="wordcloud_p">THIRD one.  -->
                <p class="white-par">4. Scatterplot of Heroes who appear in MORE THAN 20 series. 
                    <br>
                    <br>
                    Ordered by most frequent Heroes.
                </p> 
                <div class="image-wrapper-div">
                    <img class="heroes_img" src="static/hereos_who_appear_in_more_than_20_series.png" alt="hereos_who_appear_in_more_than_20_series">
                </div>    

            </div>

            <div class="timeline-div">

                <div class="image-wrapper-div">
                    <img class="heroes_img" src="static/four_heroes_appearance_in_total_and_in_unique_series.png" alt="horizontal_barplot">
                </div> 
                <div>
                    <p class="white-par">5. Horizontal barplot of Heroes TOTAL mentions and UNIQUE SERIES present. 
                        <br>
                        <br>
                        Ordered by most frequent Heroes, in total 11 Heroes recounted.
                    </p> 
                    <a class="button" id="back_home_button" href="{{ url_for('index') }}">Back to Home page </a>
                </div>

            </div>

        </div>
    </body>
</html>
                               
