<html>
    <head>
        <meta charset="utf-8">
        <title>Visualizations</title>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles/visualizations_styles.css') }}"/> 
    </head>
    <body>
        <h1>Static visualizations of Naruto series data</h1>
        <p >
            For the code creating visualizations see the folder –
            <a href= "https://github.com/lisja/KIK-LG211_HALM/tree/main/FINAL_PROJECT/visualizations">
            https://github.com/lisja/KIK-LG211_HALM/tree/main/FINAL_PROJECT/visualizations
            </a> 
        </p>

        <div class="visualizations-container">

            <div class="wordclouds-div" >
                <p class="white-par">Two Wordcloud visualizations. 
                    <br>
                    <br>
                    1. Wordcloud of all HEROES in Naruto series. 
                    <br>
                    <br>
                    2. Wordcloud of all OTHER words in series – MINUS heroes names and stopwords.
                </p>
                <div class="image-wrapper-div">
                    <img src="static/two_wordcloud_heroes.png" alt="cat">
                </div>                
                <div class="image-wrapper-div" color="blue">
                    <img src="static/one_wordcloud_non_heroes.png" alt="fire">
                </div>
            </div>

            <div class="timeline-div">
                <div class="image-wrapper-div">
                    <img class="heroes_img" src="static/89_heroes_in_219_series.png" alt="heroes_on_timeline">
                </div>   
                <p class="white-par">3. Scatterplot of all 89 heroes on timeline. 
                    <br>
                    <br>
                    In order of appearance in 219 series. Every appearance is data point of scatter-plot with opacity 0.7.
                </p> 
            </div>

            <div class="timeline-div">
                <!-- <p id="wordcloud_p">THIRD one.  -->
                <p class="white-par">4. Scatterplot of Heroes who appear in MORE THAN 20 series. 
                    <br>
                    <br>
                    Ordered by most frequent Heroes.
                </p> 
                <div class="image-wrapper-div">
                    <img class="heroes_img" src="static/hereos_who_appear_in_more_than_20_series.png" alt="hereos_who_appear_in_more_than_20_series">
                </div>    

            </div>
                    
            

            <div class="timeline-div">
                <!-- <p id="wordcloud_p">THIRD one.  -->

                <div class="image-wrapper-div">
                    <img class="heroes_img" src="static/four_heroes_appearance_in_total_and_in_unique_series.png" alt="horizontal_barplot">
                </div> 
                <p class="white-par">5. Horizontal barplot of Heroes TOTAL mentions and UNIQUE SERIES present. 
                    <br>
                    <br>
                    Ordered by most frequent Heroes, in total 11 Heroes recounted.
                </p> 

            </div>



        </div>

        <!--Reload the page with variable "query" in the URL-->
        <!-- <form>
            <input type="text" name="query" autofocus placeholder="cat">
            <input type="submit" value="Search">
            <input type="submit" value="Engine">
        </form> -->
        <!-- <table> -->
            <!--Go through each item in the "matches" variable sent from
                search() function in the Flask app-->
            <!-- {% for item in matches %} -->
            <!-- <tr> -->
                <!--Display the name of the item based on the "name" key-->
                <!-- <td>{{ item["name"] }}</td> -->
                <!--Display the image of the item based on the "source" key-->
                <!-- <td><img src="/static/{{ item["source"] }}" style="width: 400px; height 100%"></td> -->
            <!-- </tr> -->
            <!--End for loop-->
            <!-- {% endfor %} -->
        <!-- </table> -->
    </body>
</html>
                               
